<p-card>

    <h6 class="text-bold">Filtre</h6>
    <hr />
    <form name="editFormF" role="form" novalidate #editFormF="ngForm">
      <div class="row justify-content-center">
        <div class="form-group col-md-4 ">
        </div>
        <div class="form-group col-md-4 ">
          <input type="text" pInputText [(ngModel)]="filtreLibelle" class="form-control form-control-sm" name="filterText"
            id="filterText" placeholder="Filtrer par libelle" required />
        </div>

        <div class="form-group col-md-2">
          <button pButton label="Filtrer" icon="pi pi-search"
            class="btn btn-sm btn-info float-right mb-2 p-button-info mr-2" [disabled]="!enableCreate" style="width: 100%"
            [disabled]="editFormF.form.invalid" (click)="filtrer()" ngbTooltip="Appliquer le filtre">
          </button>
        </div>
        <div class="form-group col-md-2">
          <button type="button" class="btn btn-sm btn-warning" style="width: 100%" [disabled]="!filtreLibelle"
            (click)="resetFilter()" ngbTooltip="Annuler le filtre">
            Rénitialiser
          </button>
        </div>
      </div>
    </form>
    <div>
      <h6 class="float-left">Résultats trouvés : <span class="text-danger">{{totalRecords}}</span></h6>
      <div class="p-d-flex">


        <app-crud-toolbar [enableCreate]="enableCreate" (create)="openModalCreate()" [enableEdit]="enableBtnEdit"
          (edit)="openModalEdit(rapport)">
        </app-crud-toolbar>
        <div class="p-ml-auto">
          <p-message *ngIf="dialogErrorMessage" severity="error" [text]="dialogErrorMessage"></p-message>
          <p-message *ngIf="message" [severity]="message.severity" [text]="message.summary"></p-message>
          <p-progressSpinner *ngIf="isOpInProgress" strokeWidth="4" [style]="{width: '50px', height: '50px'}">
          </p-progressSpinner>
        </div>
      </div>
    </div>
    <p-table #dtf [value]="rapports" [paginator]="true" [rows]="recordsPerPage" (onPage)="loadPage($event)"
      [totalRecords]="totalRecords" (onLazyLoad)="loadAllRapportJson()" [lazy]="true"
      [globalFilterFields]="['libelle','parent.libelle']"
      currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} élements" [showCurrentPageReport]=true
      [rowsPerPageOptions]="[20, 50, 100, 500]" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header" let-columns>
        <tr>

          <th pSortableColumn="typerapport">Type de rapport<p-sortIcon field="typerapport"></p-sortIcon></th>
          <th pSortableColumn="periode">Periode<p-sortIcon field="periode"></p-sortIcon></th>
          <th class="actionsStyle">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rapport>
        <tr>

          <td>{{ rapport.typerapport }}</td>
          <td>{{ rapport.periode}}</td>

          <td class="actionsStyle">
            <app-actions-toolbar-iud [enableBtnInfo]="enableBtnInfo" (info)="openModalDetail(rapport)"
              [enableBtnInfo]="enableBtnInfo" (edit)="openModalEdit(rapport)" [enableBtnEdit]="enableBtnEdit"
              (delete)="onDelete(rapport)" [enableBtnDelete]="enableBtnDelete" (certifierRapport)="openModalCertifier(rapport)" [enableBtnCertifierRapport]="enableBtnCertifierRapport">
            </app-actions-toolbar-iud>
          </td>
        </tr>
      </ng-template>
    </p-table>


    <!-- Confirmation -->
    <app-confirmation></app-confirmation>
  </p-card>
